<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
 <listener class-name="com.rameshsoft.automation.listeners.FailTestRetry"/>
 <listener class-name="com.rameshsoft.automation.listeners.ScreenshotAdapater">
  </listener>
</listeners>
<parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.rameshsoft.automation.gmail.scripts.Gmail_Test"/>
      <class name="com.rameshsoft.automation.gmail.scripts.FB_Test"/>
      <class name="com.rameshsoft.automation.gmail.scripts.BingTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
